/* App.js */
.todo-app {
  margin: 2rem auto 0 auto;
  max-width: 400px;
}

.top-panel {
  margin: 1rem 0;
}

/* app header */

.app-header {
  align-items: flex-end;
}

.app-header h1 {
  flex-grow: 1;
}

.app-header h2 {
  font-size: 1.2rem;
  color: grey;
}

/* item add form */

.item-add-form {
  margin-top: 1rem;
}

.item-add-form input {
  margin-right: 3px;
}

/* search-panel */
.search-input {
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
}

/* todo list */
.todo-list .list-group-item {
  padding: 0.25rem 0.75rem;
}

/* todo list item */

.todo-list-item {
  font-size: 1.25rem;
}

.todo-list-item button {
  width: 35px;
  margin: 3px;
}

.todo-list-item-label {
  margin-left: 1.25rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.todo-list-item.done .todo-list-item-label {
  text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label {
  font-weight: bold;
  color: steelblue;
}
